.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.34);
    padding: 10px 25px;
    border-radius: 10px;
    min-width: 300px;
}

.card__info {
    font-size: 18px;
    margin: 5px 0;
}

.card__name {
    margin: 10px 0;
    font-size: 25px;
}

.card__avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
